.chatRoom {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-overflow: hidden;
}

.chatRoom:hover {
  background-color: lightgray;
}

.chatRoom__info {
  flex: 1;
  margin-left: 10px;
}

.chatRoom__info > P {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatRoom__info > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: gray;
  font-size: small;
}
